<html lang="en" xmlns:th="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" sec:authorize="isAnonymous()">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="display:flex !important; flex-basis:auto;">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/post/list">Home</a>
            </li>
          </ul>

          <div class="d-flex align-items-center">
            <div class="me-3">
              <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/user/login}'|">로그인</button>
              <button class="btn btn-success" type="button" th:onclick="|location.href='@{/user/signup}'|">회원가입</button>
            </div>
          </div>

        </div>
      </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" sec:authorize="isAuthenticated()">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/post/list">Home</a>
            </li>
          </ul>

          <div class="d-flex align-items-center">
            <div class="me-3">
              <img th:src="${#authentication.principal.image}" class="img-thumbnail post-nav-image" alt="">
            </div>

            <div class="me-3">
              <span class="navbar-text" th:text="|${#authentication.principal.name}|"></span>
            </div>

            <div class="me-3">
              <button type="button" class="btn btn-primary" th:onclick="toggleAlarmDiv()">알림 <span id="alarmCount" class="badge bg-light text-dark"></span></button>
            </div>

            <div class="me-3">
              <button class="btn btn-success" type="button" th:onclick="|location.href='@{/user/view}'|">회원정보</button>

              <div id="alarmDiv" class="alarmDiv">
                  <!--
                  <div id="alarm-1" class="alarmElement">
                      <div>
                          <span>포스트</span>
                          <span>2025.08.26</span>
                          <button type="button" class="btn btn-danger btn-sm">삭제</button>
                      </div>
                      <div>
                          내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.
                      </div>
                  </div>

                  <div id="alarm-2" class="alarmElement">
                      <div>
                          <span>포스트</span>
                          <span>2025.08.26</span>
                          <button type="button" class="btn btn-danger btn-sm">삭제</button>
                      </div>
                      <div>
                          내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.
                      </div>
                  </div>

                  <div class="alarmElement">
                      알람 내용이 없습니다.
                  </div>
                  -->

                  <div id="nextAlarmDiv" class="text-center">
                      <button class="btn btn-primary" th:onclick="nextAlarmPage()">
                          더보기
                      </button>
                  </div>

              </div>

            </div>

            <div class="me-3">
              <button class="btn btn-danger" type="button" th:onclick="|logout()|">로그아웃</button>
            </div>
          </div>

        </div>
      </div>
    </nav>

    <th:block th:replace="~{common/bottom}"></th:block>

    <script th:inline="javascript">

        $("#alarmDiv").on("click", ".alarmElement", function(e) {
            if ($(e.target).is("button")) return;

            const link = e.target.closest(".alarmElement").dataset.link;

            checkAlarm(e.target.closest(".alarmElement").dataset.id);

            if(confirm("이동하시겠습니까?")){
                location.href=link;
            }

        });

      function checkAlarm(id){

          const json = JSON.stringify({
              userId : /*[[${#authentication.name}]]*/""
              , alarmId : id
          });

          $.ajax({
              url: "/alarm/check",
              type: "PUT",
              dataType: 'json',
              contentType: 'application/json; charset=utf-8',
              data : json,
              success: function (data, status, xhr) {
                  if(data.code === "200"){
                      $("#alarm-"+id).addClass("visited");
                  }else{
                      alert('알람 체크 실패');
                  }
              },
              error: function (data, status, xhr) {
                  alert(data.responseJSON.message);
              },
          });

      }

      function logout(){
        if(confirm('로그아웃하시겠습니까?')){
          $.ajax({
            url: "/v1/user/logout",
            type: "GET",
            success: function (data, status, xhr) {
              if(data.code === "200"){
                location.href='/post/list'
              }else{
                alert('로그아웃이 실패하였습니다.');
              }
            },
            error: function (data, status, xhr) {
              alert(data.responseJSON.message);
            },
          });
        }
      }

      function toggleAlarmDiv(){
          const alarmDiv = $("#alarmDiv").css('display');

          if(alarmDiv === 'block'){
              console.log("1");
              $("#alarmDiv").css('display', "none");
          }else{
              console.log("2");
              $("#alarmDiv").css('display', 'block');
          }

      }

      function clearAlarm(){
          const alarmDiv = $("#alarmDiv");
          alarmDiv.empty();
      }

      let pageNumber=1;
      let pageSize=10;

      let totalPage=1;
      let totalCount=0;

      uncheckedAlarmCount();
      displayAlarm(pageNumber, pageSize);

      function uncheckedAlarmCount(){

          const userId = /*[[${#authentication.name}]]*/"";

          if(userId === 'anonymousUser'){
              return;
          }

          const param = {
              userId : userId
              , checked : 'N'
          }

          $.ajax({
              url: "/alarm/count",
              type: "GET",
              dataType: 'json',
              contentType: 'application/json; charset=utf-8',
              data : param,
              success: function (data, status, xhr) {
                  if(data.code === "200"){
                      $("#alarmCount").text(data.data.count);
                      console.log(data);
                  }else{
                      alert('안읽은 알람 카운트 실패');
                  }
              },
              error: function (data, status, xhr) {
                  alert(data.responseJSON.message);
              },
          });

      }

      function nextAlarmPage(){
          pageNumber++;
          displayAlarm(pageNumber, pageSize);
      }

      function displayAlarm(pageNumber, pageSize){

          const userId = /*[[${#authentication.name}]]*/"";

          if(userId === 'anonymousUser'){
              return;
          }

          const param = {
              page : pageNumber
              , pageSize : pageSize
              , userId : userId
          }

          $.ajax({
              url: "/alarm",
              type: "GET",
              dataType: 'json',
              contentType: 'application/json; charset=utf-8',
              data : param,
              success: function (data, status, xhr) {
                  if(data.code === "200"){
                      console.log(data);

                      totalPage = data.data.totalPage;
                      totalCount = data.data.totalCount;

                      htmlAlarmList(data.data.list);
                  }else{
                      alert('알람 리스트 실패');
                  }
              },
              error: function (data, status, xhr) {
                  alert(data.responseJSON.message);
              },
          });

      }

      function htmlAlarmList(list) {
          let html='';

          if(list.length > 0){
              for(let i=0; i< list.length; i++){

                  const classText = list[i].checked === "Y" ? "alarmElement visited" : "alarmElement";

                  html += '<div id="alarm-' + list[i].alarmId + '" class="'+classText+'" data-link="'+list[i].link + '"" data-id="'+list[i].alarmId+'">';
                  html += '<div>'
                  html += '<span>게시글</span>';
                  html += '<span>' + list[i].regDate + '</span>';
                  html += '<button type="button" class="btn btn-danger btn-sm" onclick="deleteAlarm('+list[i].alarmId+')">삭제</button>';
                  html += '</div>';
                  html += '<div>';
                  html += list[i].message;
                  html += '</div>';
                  html += '</div>';
              }

              // 마지막 div 요소 찾기
              $("#alarmDiv div").last().before(html);

              if(pageNumber < totalPage){
                  $("#nextAlarmDiv").show();
              }else{
                  $("#nextAlarmDiv").hide();
              }

          }else {
              appendEmptyDiv();
          }
      }

      function appendEmptyDiv(){
          html = '';
          html += '<div class="alarmElement">';
          html += '알람 내용이 없습니다.';
          html += '</div>';
          $("#alarmDiv").html(html);
      }

      function deleteAlarm(alarmId) {
          const json = JSON.stringify({
              userId: /*[[${#authentication.name}]]*/""
              , alarmId: alarmId
          });

          if (confirm('삭제하시겠습니까1?')) {
              $.ajax({
                  url: "/alarm",
                  type: "DELETE",
                  dataType: 'json',
                  contentType: 'application/json; charset=utf-8',
                  data: json,
                  success: function (data, status, xhr) {
                      if(data.code === "200"){
                          alert('알람 삭제 성공')
                          console.log(data);

                          $("#alarm-" + alarmId).remove();
                          uncheckedAlarmCount();
                          checkEmpty();
                      }else{
                          alert('알람 삭제 실패');
                      }
                  },
                  error: function (data, status, xhr) {
                      alert(data.responseJSON.message);
                  },
              });
          }


      }

      function checkEmpty(){
          if($("#alarmDiv").html() === ''){
              appendEmptyDiv();
          }
      }

    </script>

</html>