<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>영화 상세</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>

    <th:block th:replace="~{common/nav}"></th:block>

    <div class="d-flex justify-content-center">
        <div class="mx-5 w-500">

            <div>
                <div>
                    <h1 th:text="${data.movieNm}"></h1>
                </div>
                    코드 : <div class="mx-3" th:text="${data.movieCd}"></div>
                    제목<div class="mx-3" th:text="${data.movieNm}"></div>
                    상영시간<div class="mx-3" th:text="${data.showTm}"></div>
                    제작일<div class="mx-3" th:text="${data.prdtYear}"></div>
                    개봉일<div class="mx-3" th:text="${data.openDt}"></div>
                    상태<div class="mx-3" th:text="${data.prdtStatNm}"></div>
                    종류<div class="mx-3" th:text="${data.typeNm}"></div>
                    국가<div class="mx-3" th:text="${#strings.listJoin(data.nations, ',')}"></div>
                    장르<div class="mx-3" th:text="${#strings.listJoin(data.genres, ',')}"></div>
                    감독<div class="mx-3" th:text="${#strings.listJoin(data.directors, ',')}"></div>
                    배우<div class="mx-3" th:text="${#strings.listJoin(data.actors, ',')}"></div>
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-primary ms-1" type="button" th:onclick="list()">리스트</button>
            </div>

        </div>

    </div>

    <th:block th:replace="~{common/bottom}"></th:block>
    <script src="/js/common.js"></script>

    <script>

        function list(){
            location.href="/movie/list";
        }

    </script>

</body>
</html>