.signupDiv{
    margin-top:20px;
    justify-content: center;
    display: grid;
}

.w-300{
    width:300px;
}

.w-400{
    width:400px;
}

.w-500{
    width:500px;
}

nav.flex-end{
    justify-content: flex-end;
}

.mr-10{
    margin-right:10px;
}

.post-nav-image{
    width:50px;
    height:50px;
}

.post-search-div{
    display: flex;
    justify-content: center;
}

.post-search-inner-div{
    width:400px;
}

.mouse-over{
    cursor: pointer;
}

.alarmDiv{
    position:absolute;
    top:70px;
    right:10px;
    z-index:100;
    border:1px solid black;
    width:500px;
    background:white;
    height: 800px;
    overflow-y: auto;
}

.alarmElement{
    border:1px solid blue;
    margin:10px;
    cursor:pointer
}

.visited{
    color: rgba(0, 0, 0, 0.2);
}