<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>식별값 : <span th:text="${id}"></span></div>
<div>닉네임 : <span th:text="${nickname}"></span></div>
<div>이름 : <span th:text="${name}"></span></div>
<div>메일 : <span th:text="${email}"></span></div>
<div>성별 : <span th:text="${gender}"></span></div>
<div>나이 : <span th:text="${age}"></span></div>
<div>생년 : <span th:text="${birthyear}"></span></div>
<div>생일 : <span th:text="${birthday}"></span></div>
<div>프로필 : <span th:text="${profile_image}"></span></div>
<div>모바일 : <span th:text="${mobile}"></span></div>


</body>
</html>